body {
    background-color: #27374D;
    font-family: "Noto Sans Lao Looped", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1em;
    font-style: normal;
     font-variation-settings:
        "wdth" 100;
    height: 100%;
    margin: 0;

}

header {
    height: 8vh;
}

header a {
    color: #DDE6ED;
    text-decoration: none;
}

.nav-section  {
    margin: auto;
    width: 60%;
    height: 100%;
}

h1 {
    display: inline;
    float: left;
    font-size: 2em;
    font-family: "Madimi One", sans-serif;
    font-style: normal;
    margin-top: 22px;
    height: 42px;
}

nav {
    position: relative;
    float: left;
    top: 30px;
    height: 42px;
}

ol, ul {
    list-style: none;
    margin: 0px;
}

nav li {
    display: inline;
    padding: 40px;
    top: 10%;
}

nav li a {
    font: 400;
    font-weight: 700;
    color: #526D82;
    text-decoration: none;
}

nav li a:hover {
    color: #9DB2BF;
    transition: 0.2s;
}

.content section {
    color: #9DB2BF;
    margin: auto;
    width: 60%;
}

.content h2 {
    border-bottom: 1px solid #9DB2BF;
}

.carousel {
    float: left;
}

.carousel ul {
    list-style-type: none;
}

.carousel li {
    display: inline;
    float: left;
    height: 220px;
    width: 240px;
}

.carousel li img {
    max-height: 100%;
    max-width: 100%;
    border: 1px solid #9DB2BF;
}

.zoom:hover {
    transform: scale(1.3);
    transition: 0.4s;
}
.epigraph {
    color: #9DB2BF;
    font-weight: 500;
    font: 200;
}