body {
    background-color: #27374D;
    font-family: "Noto Sans Lao Looped", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1em;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    height: 100%;
    width: 100%;
    margin: 0;

}

header {
    height: 8vh;
}

header a {
    color: #DDE6ED;
    text-decoration: none;
}

.nav-section {
    margin: auto;
    width: 60%;
    height: 100%;
}

h1 {
    position: relative;
    display: inline;
    float: left;
    font-size: 2em;
    font-family: "Madimi One", sans-serif;
    font-style: normal;
    margin-top: 22px;
    height: 42px;
}

h2 {
    display: block;
    font-size: 1.5em;
    color: #9DB2BF;
}

nav {
    position: relative;
    float: left;
    top: 30px;
    height: 42px;
}

ol, ul {
    /* list-style: none; */
    margin: 0px;
}

nav li {
    display: inline;
    padding: 2vw;
    top: 10%;
}

nav li a {
    font: 400;
    font-weight: 700;
    color: #526D82;
    text-decoration: none;
}

nav li a:hover {
    color: #9DB2BF;
    transition: 0.2s;
}

.content {
    height: 100%;
    width: 100%;
    color: #DDE6ED;
    margin: 0px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas: 'lista-discos detalle-disco video';
}

#descripcion {
    color: #9DB2BF;
    letter-spacing: 1ex;
    flex: 1 0 100%;
}

.lista-discos {
    grid-area: 'lista-discos';

}

.lista-discos ul {
    list-style: circle;    
}

.lista-discos ul:hover {
    cursor: pointer;
}

.detalle-disco {
    grid-area: 'detalle-disco';
}

.video {
    grid-area: 'video';
    align-content: center;
}

.register {
    margin: auto;
    width: 60%;
    height: 100%;
    display: block;
}

form {
    height: auto;
}

.albumName {
    grid-area: 'albumName';
}

.description {
    grid-area: 'description';
}

.songlist {
    grid-area: 'songlist';
    list-style-type: decimal;
    float: left;
    flex: 1 0 auto;
}

.cover {
    margin: auto;
    float: left;
    flex: 0 0 auto;
    grid-area: 'coveralbum';
}

.cover img {
    width: 300px;
    border-radius: 5%;
    border: #9DB2BF solid 2px;
}

@media screen and (max-width: 720px) {
    .content {
        display: grid;
        grid-template-columns: 20% 50% 30%;
        grid-template-areas: 'lista-discos detalle-disco video';
    }

    .detalle-disco {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1pt 1pt 1pt;
        grid-template-areas: 'albumName albumName'
            'description description'
            'coveralbum songlist';
    }

    header {
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: #27374D;
    }

    .nav-section {
        margin: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 2.5em;
        margin: 22px auto auto auto;
        letter-spacing: 0.3em;
    }

    nav {
        position: relative;
        top: 0px;
        left: 0%;
        width: 100vw;
        margin: auto;
    }

    .main-nav ul {
        position: sticky;
        z-index: 1;
        background-color: #27374D;
        top: 5vh;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }


    #perfil {
        display: block;
        grid-column: 1 / 2;
    }

    #discos {
        display: block;
        grid-column: 2 / 3;
    }

    #listas {
        display: block;
        grid-column: 3 / 4;
    }

    #buscar {
        display: block;
        grid-column: 4 / 5;
    }

    nav li a {
        font-size: calc(15px + 1vw);
    }
}