<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo de uso de la API 🚀</title>
    <link rel="stylesheet" href="./static/css/estilos.css">
</head>
<body>

    <div class="esquina superior">
        <img class="logo" src="./static/imagenes/logo.png" alt="logo">
    </div>
    <div class="esquina inferior">
        <img class="logo-blanco" src="./static/imagenes/logo-blanco.png" alt="logo-blanco">
    </div>

    <div class="encabezado-vacio"></div>

        <h1>Menu de Opciones</h1><br>
        <table>
            <tr>
                <!-- <td class="contenedor-centrado"><a href="altas.html">Alta de productos</a></td> -->
                <td class="contenedor-centrado"><a href="{{ url_for('altas') }}">Alta de productos</a></td>
            </tr>
            <tr>
                <td class="contenedor-centrado "><a href="{{ url_for('listado') }}">Listado de productos</a></td>
            </tr>
            <tr>
                <td class="contenedor-centrado "><a href="{{ url_for('modificaciones') }}">Modificar datos de productos</a></td>
            </tr>
            <tr>
                <td class="contenedor-centrado "><a href="{{ url_for('listadoEliminar') }}">Eliminar productos</a></td>
            </tr>
        </table>
</body>

</html>
